<div class="dropdown" dropdown [(isOpen)]="navbarManager.isLogInDropdownVisible" [autoClose]="false">
    <button class="btn btn-light dropdown-toggle" dropdownToggle>
        Log in
    </button>
    <div class="dropdown-menu dropdown-menu-right animated-dropdown" *dropdownMenu>
        <div class="m-3">
            <label for="usernameLogInInput" class="form-label">Username</label>
            <input type="text" id="usernameLogInInput" class="form-control" [(ngModel)]="navbarManager.logInDto.username"
                (keydown.enter)="logIn()" validated="username">
        </div>
        <div class="m-3">
            <label for="passwordLogInInput" class="form-label">Password</label>
            <input type="password" id="passwordLogInInput" class="form-control" [(ngModel)]="navbarManager.logInDto.password"
                (keydown.enter)="logIn()" validated="password">
        </div>
        <div class="d-flex justify-content-center m-3">
            <button class="btn btn-lg btn-primary" (click)="logIn()" [disabled]="!loadingLogIn.isOver()">
                <div *ngIf="!loadingLogIn.isOver()" class="spinner-border"></div>
                <div *ngIf="loadingLogIn.isOver()">Log in</div>
            </button>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row align-items-center justify-content-center m-3">
            <div class="col-auto">
                <label for="signUpButton" class="col-form-label">Don't have an account?</label>
            </div>
            <div class="col-auto">
                <button class="btn btn-link" (click)="openSignUpModal()">Sign up</button>
                <app-sign-up-modal></app-sign-up-modal>
            </div>
        </div>
    </div>
</div>