<div class="m-3">
    <label for="usernameLogInInput" class="form-label">Username</label>
    <input type="text" id="usernameLogInInput" class="form-control" [(ngModel)]="logInDto.username" (keydown.enter)="logIn()">
</div>
<div class="m-3">
    <label for="passwordLogInInput" class="form-label">Password</label>
    <input type="password" id="passwordLogInInput" class="form-control" [(ngModel)]="logInDto.password" (keydown.enter)="logIn()">
</div>
<div class="d-flex justify-content-center m-3">
    <button class="btn btn-primary" (click)="logIn()">Log in</button>
</div>
<div class="dropdown-divider"></div>
<div class="row align-items-center justify-content-center m-3">
    <div class="col-auto">
        <label for="signUpButton" class="col-form-label">Don't have an account?</label>
    </div>
    <div class="col-auto">
        <a id="signUpButton" href="#" data-bs-toggle="modal" data-bs-target="#signUpModal"
            (click)="parent.toggleLogInDropdownButton()">Sign up</a>
    </div>
</div>