<div class="row align-items-center justify-content-center">
    <div class="col-auto">
        Logged as <span class="fw-bold fst-italic"> {{navbarManager.contributor?.username}} </span>
        <i title="Administrator" class="bi bi-key"></i>
    </div>
    <div class="col-auto dropdown" dropdown>
        <button type="button" class="btn btn-light dropdown-toggle" dropdownToggle>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
            <li><a class="dropdown-item">Dashboard</a></li>
            <li><a class="dropdown-item">Settings</a></li>
            <div *ngIf="navbarManager.contributor?.roleName === 'Administrator'">
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item">Control panel</a></li>
                <li><button class="dropdown-item btn btn-link" (click)="generateToken()">Generate
                        token</button></li>
            </div>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item text-danger btn btn-link" (click)="logOut()">Log
                    out</button></li>
        </ul>
    </div>
</div>