<div class="container-fluid py-4 title text-center">
    <h2 class="h2 fw-bold">
        Authors
    </h2>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button *ngIf="!authorManager.isSearchVisible" class="btn btn-primary"
                (click)="authorManager.expandAuthorSearch()">
                Search &#11167;
            </button>
            <button *ngIf="authorManager.isSearchVisible" class="btn btn-primary"
                (click)="authorManager.collapseAuthorSearch()">
                Search &#11165;
            </button>
        </div>
        <div *ngIf="navbarManager.contributor" class="col-auto">
            <button class="btn btn-primary" (click)="authorManager.openCreateAuthorModal()">New author</button>
            <app-create-author-modal></app-create-author-modal>
        </div>
    </div>
</div>
<div class="container">
    <app-author-search></app-author-search>
    <div class="my-3">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <div class="row align-items-center">
                    <div class="col">
                        <pagination [(ngModel)]="currentPage" [boundaryLinks]="true" [totalItems]="totalResults"
                            [maxSize]="authorManager.paginationMaxSize" [itemsPerPage]="authorService.pageSize"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                            (pageChanged)="changePage($event.page - 1)">
                        </pagination>
                    </div>
                    <div *ngIf="loadingPage.isOver()" class="col-auto">
                        <div *ngIf="totalResults> 0">
                            Showing results {{firstItem}} &#8212; {{lastItem}} of {{totalResults}}
                        </div>
                        <div *ngIf="totalResults == 0" class="text-danger">
                            No results
                        </div>
                    </div>
                    <div *ngIf="!loadingPage.isOver()" class="col-auto">
                        <div class="spinner-border"></div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        Sort by
                    </div>
                    <div class="col-auto">
                        <select [(ngModel)]="pageable.sort" class="form-select"
                            (ngModelChange)="eventService.authorsUpdateEmitter.emit()">
                            <option value="id">Creation</option>
                            <option value="lastUpdate.timestamp">Last update</option>
                            <option value="romanizedName">Name</option>
                            <option value="details.chapterCount">Chapter count</option>
                        </select>
                    </div>
                    <div class="col">
                        <i role="button" class="bi h5 bi-arrow-down-up" title="Switch order" (click)="switchOrder()"></i>
                    </div>
                </div>
            </div>
        </div>
        <app-author-list></app-author-list>
        <div *ngIf="totalResults > 0" class="row justify-content-center">
            <div class="col-auto">
                <pagination [(ngModel)]="currentPage" [boundaryLinks]="true" [totalItems]="totalResults"
                    [maxSize]="authorManager.paginationMaxSize" [itemsPerPage]="authorService.pageSize"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    (pageChanged)="changePage($event.page - 1)">
                </pagination>
            </div>
        </div>
    </div>