<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <h3>Bibliotheca</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="authors" class="nav-link">Authors</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="books" class="nav-link">Books</a>
                </li>
            </ul>
            <app-log-in-dropdown *ngIf="contributorService.contributor == null"></app-log-in-dropdown>
            <app-contributor-dropdown *ngIf="contributorService.contributor != null"></app-contributor-dropdown>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>