<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <h3>Bibliotheca</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="authors" class="nav-link">Authors</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="books" class="nav-link">Books</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <div *ngIf="config.user === null">
                <button #logInDropdownButton class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside">
                    Log in
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <app-log-in-dropdown [parent]="this"></app-log-in-dropdown>
                </div>
            </div>
            <div *ngIf="config.user !== null">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        Logged as <span class="fw-bold fst-italic"> {{config.user.name}} </span>
                        <img *ngIf="config.user.role === 'Administrator'" id="admin-logo" src="assets/img/admin.png" title="Administrator">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" (click)="logOut()">
                            Log out
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-sign-up-modal [parent]="this"></app-sign-up-modal>
<router-outlet></router-outlet>