.alert-container {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1100;
}

.animated-alert {
    animation-duration: 0.5s;
    animation-name: alert;
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}