<div id="collapseBasic" [collapse]="!authorManager.isSearchVisible" [isAnimated]="true" class="bg-light border rounded">
    <div class="row p-3">
        <div class="col-auto">
            <label for="authorNameSearchInput" class="form-label">Name</label>
            <input type="search" id="authorNameSearchInput" class="form-control" [(ngModel)]="authorManager.authorSearchDto.name"
                (keydown.enter)="submit()">
        </div>
    </div>
    <div class="row p-3 align-items-center">
        <label for="authorChapterCountSearchInput" class="form-label">Chapter count</label>
        <div class="col-auto">
            <div class="form-text">
                Between
            </div>
        </div>
        <div class="col-auto">
            <input type="number" id="authorChapterCountSearchInput" class="form-control"
                [(ngModel)]="authorManager.authorSearchDto.minChapterCount" (keydown.enter)="submit()">
        </div>
        <div class="col-auto">
            <div class="form-text">
                and
            </div>
        </div>
        <div class="col-auto">
            <input type="number" class="form-control" [(ngModel)]="authorManager.authorSearchDto.maxChapterCount"
                (keydown.enter)="submit()">
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <button class="btn btn-primary" (click)="submit()">Search</button>
        </div>
    </div>
</div>