.dropdown-menu {
    animation-duration: 0.2s;
    animation-name: dropdown;
}

@keyframes dropdown {
    0% {
        transform: translate(50%, -50%) scale(0, 0) ;
    }
  
    100% {
        transform: translate(0, 0) scale(1, 1);
        display: block;
    }
}

pagination ul {
    margin-bottom: 0;
}

body {
    background: linear-gradient(to right, dimgray, #222222 5%, #222222 95%, dimgray);
    width: 100vw;
    overflow: overlay;
}

.title {
    background-color: midnightblue;
}

.card-field {
    height: 2.5rem;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
   
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}