.dropdown-menu {
    animation-duration: 0.2s;
    animation-name: dropdown;
}

@keyframes dropdown {
    0% {
        transform: translate(50%, -50%) scale(0, 0) ;
    }
  
    100% {
        transform: translate(0, 0) scale(1, 1);
        display: block;
    }
}