<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Account registration</h5>
        <button class="btn-close" data-bs-dismiss="modal" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="errorService.globalError != null" class="m-3">
            <small class="text-danger">
                Error {{errorService.globalErrorCode}} : {{errorService.globalError}}
            </small>
        </div>
        <div class="m-3">
            <label for="usernameSignUpInput" class="form-label">Username</label>
            <input type="text" id="usernameSignUpInput" class="form-control" [(ngModel)]="signUpDto.username"
                (keydown.enter)="signUp()" validated="username">
        </div>
        <div class="m-3">
            <label for="emailSignUpInput" class="form-label">Email (optional)</label>
            <input type="email" id="emailSignUpInput" class="form-control" [(ngModel)]="signUpDto.email"
                (keydown.enter)="signUp()" validated="email">
            <div class="form-text">
                This email will only be used as a password recovery method
            </div>
        </div>
        <div class="m-3">
            <label for="tokenSignUpInput" class="form-label">Registration token</label>
            <input type="text" id="tokenSignUpInput" class="form-control" [(ngModel)]="signUpDto.token"
                (keydown.enter)="signUp()" validated="token">
            <div class="form-text">
                <span>
                    Registration requires a token provided by an administrator or a trusted contributor.
                </span>
                <a
                    href="mailto:{{config.CONTACT_EMAIL}}?subject=Registration token request&body=Please explain in a few words why you want to contribute to this project">Ask
                    for a token</a>
            </div>
        </div>
        <div class="m-3">
            <label for="passwordSignUpInput" class="form-label">Password</label>
            <input type="password" id="passwordSignUpInput" class="form-control" [(ngModel)]="signUpDto.password"
                (keydown.enter)="signUp()" validated="password">
        </div>
        <div class="m-3">
            <label for="passwordConfirmationSignUpInput" class="form-label">Password confirmation</label>
            <input type="password" id="passwordConfirmationSignUpInput" class="form-control"
                [(ngModel)]="signUpDto.passwordConfirmation" (keydown.enter)="signUp()"
                validated="passwordConfirmation">
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-lg btn-success" (click)="signUp()" [disabled]="loading">
            <div *ngIf="loading" class="spinner-border"></div>
            <div *ngIf="!loading">Sign up</div>
        </button>
    </div>
</ng-template>