<div class="modal fade" id="signUpModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Account registration</h5>
                <button #closeSignUpButton class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <small *ngFor="let message of errorMap.get('unknown')" class="m-3 text-danger">
                    {{message}}
                </small>
                <div class="m-3">
                    <label for="usernameSignUpInput" class="form-label">Username</label>
                    <input type="text" id="usernameSignUpInput" class="form-control" [(ngModel)]="signUpDto.username"
                        (keydown.enter)="signUp()" [class.is-invalid]="errorMap.has('name')"
                        [class.is-valid]="errorMap.size > 0 && !errorMap.has('name') && !errorMap.has('unknown')">
                    <div *ngFor="let message of errorMap.get('name')" class="invalid-feedback">
                        {{message}}
                    </div>
                </div>
                <div class="m-3">
                    <label for="emailSignUpInput" class="form-label">Email (optional)</label>
                    <input type="email" id="emailSignUpInput" class="form-control" [(ngModel)]="signUpDto.email"
                        (keydown.enter)="signUp()" [class.is-invalid]="errorMap.has('email')"
                        [class.is-valid]="errorMap.size > 0 && !errorMap.has('email') && !errorMap.has('unknown')">
                    <div *ngFor="let message of errorMap.get('email')" class="invalid-feedback">
                        {{message}}
                    </div>
                    <div class="form-text">
                        This email will only be used as a password recovery method
                    </div>
                </div>
                <div class="m-3">
                    <label for="tokenSignUpInput" class="form-label">Registration token</label>
                    <input type="text" id="tokenSignUpInput" class="form-control" [(ngModel)]="signUpDto.token"
                        (keydown.enter)="signUp()" [class.is-invalid]="errorMap.has('token')"
                        [class.is-valid]="errorMap.size > 0 && !errorMap.has('token') && !errorMap.has('unknown')">
                    <div class="form-text">
                        <span>
                            Registration requires a token provided by an administrator or a trusted user.
                        </span>
                        <a
                            href="mailto:{{contactEmail}}?subject=Registration token request&body=Please explain in a few words why you want to contribute to this project">Ask
                            for a token</a>
                    </div>
                    <div *ngFor="let message of errorMap.get('token')" class="invalid-feedback">
                        {{message}}
                    </div>
                </div>
                <div class="m-3">
                    <label for="passwordSignUpInput" class="form-label">Password</label>
                    <input type="password" id="passwordSignUpInput" class="form-control"
                        [(ngModel)]="signUpDto.password" (keydown.enter)="signUp()"
                        [class.is-invalid]="errorMap.has('password')"
                        [class.is-valid]="errorMap.size > 0 && !errorMap.has('password') && !errorMap.has('unknown')">
                    <div *ngFor="let message of errorMap.get('password')" class="invalid-feedback">
                        {{message}}
                    </div>
                </div>
                <div class="m-3">
                    <label for="passwordConfirmationSignUpInput" class="form-label">Password confirmation</label>
                    <input type="password" id="passwordConfirmationSignUpInput" class="form-control"
                        [(ngModel)]="signUpDto.passwordConfirmation" (keydown.enter)="signUp()"
                        [class.is-invalid]="errorMap.has('passwordConfirmation')"
                        [class.is-valid]="errorMap.size > 0 && !errorMap.has('passwordConfirmation') && !errorMap.has('unknown')">
                    <div *ngFor="let message of errorMap.get('passwordConfirmation')" class="invalid-feedback">
                        {{message}}
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-lg btn-info" (click)="signUp()" [disabled]="loading">
                    <div *ngIf="loading" class="spinner-border"></div><div *ngIf="!loading">Sign up</div>
                </button>
            </div>
        </div>
    </div>
</div>